In [2]:
#string and index
a = "hello"
print a [-1]

o

In [3]:
print a.lower()

hello

In [4]:
print len(a)

5

In [5]:
print a[1:4]

ell

In [6]:
pi = 3.14
print "the value of pi is",pi

the value of pi is 3.14

In [7]:
print "the valuue of pi is"+str(pi)

the valuue of pi is3.14

In [9]:
place1="madurai"
place2="bangalore"
print "iam from " + place1 + " iam working in " +place2

iam from madurai iam working in bangalore

In [10]:
print "iam from %s iam working in %s" %(place1,place2)

iam from madurai iam working in bangalore

In [12]:
#getting input from user
input1 = raw_input("what is your name?")
input2 = raw_input("what is your number")
input3 = raw_input("where are you from")

what is your name? sundar

what is your number 6

where are you from madurai

In [14]:
#date time
from datetime import datetime

now = datetime.now()

print now

2018-03-30 05:43:37.325038

In [15]:
print now.year
print now.month

2018
3

In [20]:
#variable types
x = 50
y= 5.5
z = "xyz"
print type(x)
print type(y)
print type(z)

<type 'int'>
<type 'float'>
<type 'str'>

In [26]:
#big and small number using arguments
def bigandsmall(*arg):
    print max(arg),min(arg)
    print bigandsmall(-10, -5, 0, 10)

In [31]:
#animal list
animal = ["cow","cat","dog","deer","lion"]
print animal[2]
print animal
dog_index = animal.index("dog")
animal.insert(dog_index,"tiger")
print animal

dog
['cow', 'cat', 'dog', 'deer', 'lion']
['cow', 'cat', 'tiger', 'dog', 'deer', 'lion']

In [32]:
classroom = {101:"ashis",102:"sundar",103:"sne"}
print classroom[103]

sne

In [33]:
num = [1,2,3,4,5]
num.append(6)
print num

[1, 2, 3, 4, 5, 6]

In [35]:
mydata ={
    "name" : "sundar",
    "age" : 20,
    "email" : "sundarmsp8@gmail.com"
}
print mydata

print mydata.items() #items

print mydata.keys()  #keys

print mydata.values() #values

{'age': 20, 'name': 'sundar', 'email': 'sundarmsp8@gmail.com'}
[('age', 20), ('name', 'sundar'), ('email', 'sundarmsp8@gmail.com')]
['age', 'name', 'email']
[20, 'sundar', 'sundarmsp8@gmail.com']